.git
.github
docs
tools
.env
.next
.next-dev
**/.next-dev
.next-e2e
**/.next-e2e
.turbo
.venv
node_modules
**/node_modules
**/.next
**/coverage
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/__tests__
**/vitest.config.ts
tests
playwright.config.ts
apps/internal-site/prisma/dev.db*
docker-data
tmp
